<!-- BEGIN main-slider -->
<div class="main-slider">
  <!-- BEGIN slider js-slider -->
  <div class="slider js-slider">
    <div class="slide">
      <div class="slide__img" style="background-image: url(img/cat1.jpg);"></div>
    </div>
    <div class="slide">
      <div class="slide__img" style="background-image: url(img/cat2.jpg);"></div>
    </div>
    <div class="slide">
      <div class="slide__img" style="background-image: url(img/cat3.jpg);"></div>
    </div>  
    <div class="slide">
      <div class="slide__img" style="background-image: url(img/cat1.jpg);"></div>
    </div>
    <div class="slide">
      <div class="slide__img" style="background-image: url(img/cat2.jpg);"></div>
    </div>
    <div class="slide">
      <div class="slide__img" style="background-image: url(img/cat3.jpg);"></div>
    </div>      
  </div>
  <!-- END slider js-slider -->
</div>
<!-- END main-slider -->  
