//BEGIN header
header.header
  .nav
    a.link(href="tab1", title="tab1 title") link-1
    a.link(href="tab2", title="tab2 title") link-2
    a.link(href="tab3", title="tab3 title") link-3
    a.link(href="tab4", title="tab4 title") link-4
    a.link(href="tab5", title="tab5 title") link-5
  .box
    div +mixins icon(flag, flag)
    div
    div
    div
  #contain
//END header
