<div class="tabs">
  <div class="tabs__nav">
    <a class="tabs__link is-active" href="#tab1">tab1</a>
    <a class="tabs__link" href="#tab2">tab2</a>
  </div>
  <div class="tabs__list">
    <!-- BEGIN tabs__content -->
    <div class="tabs__content is-active">
      <!-- BEGIN slider -->
      <div class="slider is-active">
        <div class="slide">
          <div class="slide__img" style="background-image: url(https://placekitten.com/250/200);"></div>
          <p>tab 1</p>
          <h4 class="slide__title">title 1</h4>
          <p class="slide__about">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, nulla?</p>
          <ul class="slide__text">
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
          </ul>
          <button class="slide__btn js-more-btn">more</button>
        </div>
        <div class="slide">
          <div class="slide__img" style="background-image: url(https://placekitten.com/600/500);"></div>
          <p>tab 1</p>
          <h4 class="slide__title">title 2</h4>
          <p class="slide__about">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, nulla?</p>
          <ul class="slide__text">
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
          </ul>
          <button class="slide__btn js-more-btn">more</button>
        </div>
        <div class="slide">
          <div class="slide__img" style="background-image: url(https://placekitten.com/510/200);"></div>
          <p>tab 1</p>
          <h4 class="slide__title">title 3</h4>
          <p class="slide__about">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, nulla?</p>
          <ul class="slide__text">
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
          </ul>
          <button class="slide__btn js-more-btn">more</button>
        </div>
        <div class="slide">
          <div class="slide__img" style="background-image: url(https://placekitten.com/310/200);"></div>
          <p>tab 1</p>
          <h4 class="slide__title">title 4</h4>
          <p class="slide__about">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, nulla?</p>
          <ul class="slide__text">
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
          </ul>
          <button class="slide__btn js-more-btn">more</button>
        </div>
      </div>
      <!-- END slider -->
    </div>
    <!-- END tabs__content -->
    <!-- BEGIN tabs__content -->
    <div class="tabs__content">
      <div class="slider">
        <div class="slide">
          <div class="slide__img" style="background-image: url(https://placekitten.com/550/500);"></div>
          <p>tab 2</p>
          <h4 class="slide__title">title 1</h4>
          <p class="slide__about">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, nulla?</p>
          <ul class="slide__text">
            <li>1Lorem ipsum dolor sit amet.</li>
            <li>2Lorem ipsum dolor sit amet.</li>
            <li>3Lorem ipsum dolor sit amet.</li>
            <li>4Lorem ipsum dolor sit amet.</li>
          </ul>
          <button class="slide__btn js-more-btn">more</button>
        </div>
        <div class="slide">
          <div class="slide__img" style="background-image: url(https://placekitten.com/600/560);"></div>
          <p>tab 2</p>
          <h4 class="slide__title">title 2</h4>
          <p class="slide__about">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, nulla?</p>
          <ul class="slide__text">
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
          </ul>
          <button class="slide__btn js-more-btn">more</button>
        </div>
        <div class="slide">
          <div class="slide__img" style="background-image: url(https://placekitten.com/310/400);"></div>
          <p>tab 2</p>
          <h4 class="slide__title">title 3</h4>
          <p class="slide__about">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, nulla?</p>
          <ul class="slide__text">
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
          </ul>
          <button class="slide__btn js-more-btn">more</button>
        </div>
        <div class="slide">
          <div class="slide__img" style="background-image: url(https://placekitten.com/610/400);"></div>
          <p>tab 2</p>
          <h4 class="slide__title">title 4</h4>
          <p class="slide__about">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, nulla?</p>
          <ul class="slide__text">
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
          </ul>
          <button class="slide__btn js-more-btn">more</button>
        </div>
      </div>
    </div>
    <!-- END tabs__content -->
  </div>
</div>
