---
title: Index Page
---
extends layouts/_layout
block content
  .tabs
    .tab.tab1.is-active
      h2 tab content-block 1
    .tab.tab2
      h2 tab content-block 2
    .tab.tab3
      h2 tab content-block 3
    .tab.tab4
      h2 tab content-block 4